@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}
nav{
    position: relative;
    display: flex;
    gap: 4vw;
    width: 100vw;
    z-index: 20;
}
nav span a{
    position: absolute;
    text-decoration: none;
    margin-top: 30px;
    margin-left: 80px;
    font-size: 4rem;
    font-family: Reenie Beanie;
    color: aliceblue;
    
}
.links
{
    margin-top: 30px;
    margin-left: 60vw;
    font-size: 1.5rem;
    display: flex;
    gap: 30px;
   
}
.links a{
 text-decoration: none;
 color: rgb(45, 217, 255);
 font-family: Bebas Neue;
  transition: text-shadow 0.3s ease-in-out

}
.links a:hover{
    color: rgb(255, 255, 255);
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}


#about{
    width: 100%;
    display: flex;
    color: #fff;
    flex-wrap: wrap;
    
   
}

.rightside{
    
    

    
   position: relative;
    /* margin-top: -7rem; */
    height: 50rem;
   /* overflow: hidden; */
}
.rightside img{
    position: absolute;
    width: 40vw;
    /* margin-top: -5rem; */
    height: 60rem;
    overflow: hidden;
    /* margin-left: 20vw; */
}
.glitch{
    position: absolute;
    overflow: hidden;
    margin-top: 10rem;
    height: inherit;
    margin-left: 60px;
    /* margin-left: 40rem; */
    z-index: 2;
}
.glitchbox{
    overflow: hidden;
    position:relative;
    background-color: rgb(12, 239, 235);

}


.leftside{
   
    width: 50%;
    margin-top: 20rem;
    margin-left: 5vw;
    overflow-wrap: break-word;
}
.leftside h1{
    font-family: 'Press Start 2P', cursive;
    color: rgb(255, 255, 255);
    font-size: 3rem;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(0, 247, 255),
      0 0 82px rgb(0, 238, 255),
      0 0 92px rgb(0, 225, 255),
      0 0 102px rgb(0, 255, 255),
      0 0 151px rgb(0, 247, 255);
}

.scrambledtext{
    font-size: 3rem;
}
.info{
    font-size: 1.5rem;
    margin-top: 3rem;
}


.spacer{
    margin-top: 15rem;
    position: absolute;
    z-index: -1;
    aspect-ratio: 960/600;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.layer1{
    background-image: url(./wave-haikei.svg);
}

#projects{
 
    
    color: #fff;
    margin-top: 20rem;
    
}

#projects h1{
    margin-left: 45vw;
    font-family: 'Press Start 2P', cursive;
    color: rgb(255, 255, 255);
    font-size: 3rem;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(0, 247, 255),
      0 0 82px rgb(0, 238, 255),
      0 0 92px rgb(0, 225, 255),
      0 0 102px rgb(0, 255, 255),
      0 0 151px rgb(0, 247, 255);
}
.projects
{
    position: relative;
    max-width: 100%;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
}
.project{
    font-family: 'Roboto Mono', monospace;
    display: flex;
    background-color: rgba(0, 119, 255, 0.472);
    flex-direction: column;
    overflow-wrap: break-word;
    width: 30rem;
    margin-left: 2rem;
    margin-top: 2rem;
    align-items: center;
    border-radius: 2rem;
    color: black;
    transition: 1s;
}
.project:hover{
    background-color: aqua;
    width: 40rem;
 
}
.project img{
    height:20rem;
    width: 20rem;
}
.hidden{
    opacity: 0;
    transition: 2s;
    margin-left: -100px;
}
.show{
    opacity: 1;
    margin-left: 3rem;
}

#blogs{
    margin-top: 2rem;
}
#blogs h1{
    margin-left: 70vw;

    font-family: 'Press Start 2P', cursive;
    color: rgb(255, 255, 255);
    font-size: 3rem;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(0, 247, 255),
      0 0 82px rgb(0, 238, 255),
      0 0 92px rgb(0, 225, 255),
      0 0 102px rgb(0, 255, 255),
      0 0 151px rgb(0, 247, 255);
}
.blogbackground{
    position: absolute;
    margin-top: -40vh;
    z-index: -1;
}

.blogsection{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.subscribelinks{
    color: #fff;
    width: 60%;
    /* height: 80vh; */
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    position: relative;
    margin-left: 4rem;

}
.subscribelinks .substack{
    color: orange;
    text-decoration: none;
}
.subscribelinks .medium{
    color: rgb(120, 122, 124);
    text-decoration: none;
}
.blog{
    color: rgb(6, 6, 6);
    /* background-color: red; */
    width: 25vw;
    height: 20rem;
    overflow-wrap: break-word;
    padding: 2rem;
    border-radius: 140px 0 140px 0;
    position:relative;
    align-items: center;
    justify-content: center;
   background-color: rgb(18, 77, 180);
   margin-top: 2rem;
    transition: 0.1s;
    
}
.blog a{
    font-size: 25px;
    text-decoration: none;
    background-color: cadetblue;
    border-radius: 40px;
    color: black;
    transition: 0.5s;
}
.blog a:hover{
    font-size: 30px;
    border-radius: 0%;
    background-color: crimson;
}
.blog p{
    font-size: 20px;
}


.blog h3{
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}
.blog:hover{
    border-radius: 0 140px 0 140px;
    background-image: none;
    background-color: rgba(0, 255, 255, 0.861);
    color: black;
}
.blogsonright{
     position: relative; 
     display: flex;
     flex-direction: column;
     /* margin-left: 50vw; */
}


#contacts h1{
    margin-left: 20rem;
    font-family: 'Press Start 2P', cursive;
    color: rgb(255, 255, 255);
    font-size: 3rem;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(0, 247, 255),
      0 0 82px rgb(0, 238, 255),
      0 0 92px rgb(0, 225, 255),
      0 0 102px rgb(0, 255, 255),
      0 0 151px rgb(0, 247, 255);
}
.linkedin{
    margin-top: 2rem;
    color: #fff;
    margin-left: 30rem;
    display: flex;
    gap: 40px;
    width: 50vw;
    align-items: center;
    transition: 0.1sec;
    background-color: rgb(64, 91, 224);
    border-radius: 4rem;

}

.linkedin a{
    margin-top: 30px;
    margin-left: 30px; 
       text-decoration: none;
    font-size: 2rem;
    color: aqua;
}
.linkedin:hover{
    margin-left: 40rem;
}
.linkedin p{
     font-family: 'Playfair Display', serif;
     font-size: 2rem;
}
.github{
    margin-top: 2rem;
    color: rgb(255, 255, 255);
    margin-left: 30rem;
    display: flex;
    gap: 40px;
    width: 50vw;
    align-items: center;
    transition: 0.1sec;
    background-color: rgb(18, 13, 13);
    border-radius: 4rem;

}

.github a{
    margin-top: 30px;
    margin-left: 30px; 
       text-decoration: none;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}
.github:hover{
    margin-left: 40rem;
}
.github p{
     font-family: 'Playfair Display', serif;
     font-size: 2rem;
}
.email{
    margin-top: 2rem;
    color: rgb(0, 0, 0);
    margin-left: 30rem;
    display: flex;
    gap: 40px;
    width: 50vw;
    align-items: center;
    transition: 0.1sec;
    background-color: rgb(255, 234, 0);
    border-radius: 4rem;

}

.emaildiv{
    margin-top: 30px;
    margin-left: 30px; 
       text-decoration: none;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}
.emaildiv span{
    font-size: 30px;
}
.email:hover{
    margin-left: 40rem;
}
.email p{
     font-family: 'Playfair Display', serif;
     font-size: 2rem;
}

.goodreads{
    margin-top: 2rem;
    color: rgb(0, 0, 0);
    margin-left: 30rem;
    display: flex;
    gap: 40px;
    width: 50vw;
    align-items: center;
    transition: 0.1sec;
    background-color: bisque;
    border-radius: 4rem;

}

.goodreads a{
    margin-top: 30px;
    margin-left: 30px; 
       text-decoration: none;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}
.goodreads:hover{
    margin-left: 40rem;
}
.goodreads p{
     font-family: 'Playfair Display', serif;
     font-size: 2rem;
}

.spotify{
    margin-top: 2rem;
    color: rgb(0, 0, 0);
    margin-left: 30rem;
    display: flex;
    gap: 40px;
    width: 50vw;
    align-items: center;
    transition: 0.1sec;
    background-color: rgb(13, 255, 0);
    border-radius: 4rem;

}

.spotify a{
    margin-top: 30px;
    margin-left: 30px; 
       text-decoration: none;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}
.spotify:hover{
    margin-left: 40rem;
}
.spotify p{
     font-family: 'Playfair Display', serif;
     font-size: 2rem;
}
.chess{
    margin-top: 2rem;
    color: rgb(0, 0, 0);
    margin-left: 30rem;
    display: flex;
    gap: 40px;
    width: 50%;
    align-items: center;
    transition: 0.1sec;
    background-color: rgb(255, 255, 255);
    border-radius: 4rem;

}

.chess a{
    margin-top: 30px;
    margin-left: 30px; 
       text-decoration: none;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}
.chess:hover{
    margin-left: 40rem;
}
.chess p{
     font-family: 'Playfair Display', serif;
     font-size: 2rem;
}



#contacts{
    display: flex;
    flex-direction: column;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}



.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  z-index: 2000;
}
.spacer2{
    margin-top: -80rem;
    position: absolute;
    z-index: -1;
    aspect-ratio: 960/600;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.layer2{
    background-image: url(./new-footer.svg);
}

.dropbtn {
  background-color: #00000000;
  color: white;
  margin-top: 30px;
  display: none;
  border-radius: 40rem;
  font-size: 3rem;
  position: relative;
  border: none;
  cursor: pointer;
}


.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}


.dropdown {
    display: none;
    margin-right: 20px;
  position: relative;
  
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  
  width: 100vw;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: rgb(0, 195, 255);}


.shownav {display:block;}

@media screen and (max-width: 1000px) {
  
  .dropdown{
    display: inline-block;
    
  }
  .links{
    display: none;
  }
  nav span a{
    margin-left: 7rem;
    
  }
  #about{
    flex-direction: column;
  }
  .rightside img{
    width: 100%;
    
  }
  .rightside{
    margin-left: 0;
  }

  .leftside{
    margin-left: -1rem;
    width: 100%;
    margin-top: 10rem;
  }
  .leftside h1{
    font-size: 2rem;
  }
  .scrambledtext{
    font-size: 2rem;
  }
  .info{
    margin-right: 12rem;
  }
  .glitch{
    margin-left: -20px;
    width: 100%;
}
#projects h1{
    margin-left: 2rem;
}
.projects{
    grid-template-columns: 1fr;
}
.project{
    margin-left: 1rem;
    width: 80%;
    color: #fff;
}
.project img{
    border-radius: 40rem;
}
.project a{
    color: #fff;
    text-decoration: none;
}
#blogs h1{
    margin-left: 1rem;
}
.blogsonright{
    
    margin-left: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
}
.blog{
    width: 80vw;
}
.blogsection{
    flex-direction: column;
    /* margin-top: 10vh; */
}
#contacts h1{
    margin-left: 1rem;
}

.linkedin{
    margin-left: 1rem;
    flex-direction: column;
    width: 80%;
}
.linkedin p{
    margin-left: 1rem;
}
.github{
    margin-left: 1rem;
    flex-direction: column;
    width: 80%;
}
.github p{
    margin-left: 1rem;
}
.email{
    margin-left: 1rem;
    flex-direction: column;
    width: 80%;
}
.email p{
    margin-left: 1rem;
}
.goodreads{
    margin-left: 1rem;
    flex-direction: column;
    width: 80%;
}
.goodreads p{
    margin-left: 1rem;
}
.spotify{
    margin-left: 1rem;
    flex-direction: column;
    width: 80%;
}
.spotify p{
    margin-left: 1rem;
}
.chess{
    margin-left: 1rem;
    flex-direction: column;
    width: 80%;
}
.chess p{
    margin-left: 1rem;
}
.footer{
    margin-top: 0;
}
}

@media screen and (min-width: 1000px) and (max-width: 1600px){
    .projects{
        grid-template-columns: 1fr 1fr;
    }
   

}

