@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);

}
nav{
    position: fixed;
    display: flex;
    gap: 4rem;
    width: 100vw;
    z-index: 20;
}
nav span{
    margin-top: 30px;
    margin-left: 20px;
    font-size: 4rem;
    font-family: Reenie Beanie;
    color: aliceblue;
}
.links
{
    margin-top: 30px;
    margin-left: 60vw;
    font-size: 1.5rem;
    display: flex;
    gap: 30px;
   
}
.links a{
 text-decoration: none;
 color: rgb(45, 217, 255);
 font-family: Bebas Neue;
  transition: text-shadow 0.3s ease-in-out

}
.links a:hover{
    color: rgb(255, 255, 255);
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}


#about{
    width: 100vw;
    display: flex;
    color: #fff;
}
.rightside{
    position: absolute;
    flex: none;      
    margin-left: 30vw;
    margin-top: -7rem;
    height: 80vh;
}
.rightside img{
    position: absolute;
    width: 40vw;
    margin-top: -5rem;
    height: 110vh;
    margin-left: 30vw;
}
.glitch{
    position: absolute;
    overflow: hidden;
    margin-top: 10rem;
    margin-left: 40rem;
    z-index: 2;
}
.glitchbox{
    position:relative;
    background-color: rgb(12, 239, 235);

}


.leftside{
    margin-top: 20rem;
    margin-left: 10rem;
}
.leftside h1{
    font-family: 'Press Start 2P', cursive;
    color: rgb(255, 255, 255);
    font-size: 3rem;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(0, 247, 255),
      0 0 82px rgb(0, 238, 255),
      0 0 92px rgb(0, 225, 255),
      0 0 102px rgb(0, 255, 255),
      0 0 151px rgb(0, 247, 255);
}

.scrambledtext{
    font-size: 3rem;
}
.info{
    font-size: 1.5rem;
    margin-top: 3rem;
}

#projects{
 
    
    color: #fff;
    margin-top: 20rem;
    
}

#projects h1{
    margin-left: 45vw;
    font-family: 'Press Start 2P', cursive;
    color: rgb(255, 255, 255);
    font-size: 3rem;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(0, 247, 255),
      0 0 82px rgb(0, 238, 255),
      0 0 92px rgb(0, 225, 255),
      0 0 102px rgb(0, 255, 255),
      0 0 151px rgb(0, 247, 255);
}
.projects
{
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
}
.project{
    font-family: 'Roboto Mono', monospace;
    display: flex;
    background-color: rgb(0, 119, 255);
    flex-direction: column;
    overflow-wrap: break-word;
    width: 30rem;
    margin-left: 2rem;
    margin-top: 2rem;
    align-items: center;
    border-radius: 2rem;
    color: black;
    transition: 1s;
}
.project:hover{
    background-color: aqua;
    width: 40rem;
 
}
.project img{
    height:20rem;
    width: 20rem;
}
.hidden{
    opacity: 0;
    transition: 2s;
    margin-left: -100px;
}
.show{
    opacity: 1;
    margin-left: 3rem;
}